* {
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 50px;
    font-size: 80px;
}

.body {
    padding: 10px;
    margin-bottom: 40px;
    width: 90%;
    height: 500px;
    background-color: rgb(195, 195, 248);
}

.body img {
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 50px;
    margin-top: 70px;
}

.info {
    position: relative;
    left: 50px;
    top: 50px;
}

.details {
    margin-top: 80px;
    padding-bottom: 10px;
}

p {
    padding-right: 100px;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    width: 200px;
    color: red;
}